# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# CDK asset staging directory
.cdk.staging
cdk.out
__pycache__/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.idea

newrelic_agent.log
.env
*.log

reports/
/.vs
/.infrastructure/app/cdk.out
/.infrastructure/app/__pycache__

assets/
